#hero {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFB657;
    color: white !important;
    width: 100%;
    min-height: 90vh;
    padding: 30px;
    /* z-index: -1; */
    background-image: url(../resources/hero/jordan\ pixel.png);
    background-position: bottom 30% right;
    background-size: 50%;
    background-repeat: no-repeat;
    padding-right: 50%;
    align-items: center;
    filter: hue-rotate(0deg);
    /* transition: filter 0.1s linear; */

    h1 {
        color: #E43C44;
        font-family: 'Courier New', Courier, monospace;
        font-smooth: never;
        -webkit-font-smoothing: none;
        font-family: "Pixelify Sans", sans-serif;
    }

    .grafity-btn {
        background-image: url(../resources/hero/btn\ bg\ red.png);
        padding: 10px 30px;
        background-position: center;
        background-size: 150px 30px;
        background-repeat: no-repeat;
        text-decoration: none;
        filter: contrast(.9) brightness(2.5) hue-rotate(10deg);
        color: white;
    }

    /* .hero-bg {
        top: 250px;
        right: 20%;
        width: 50px;
        height: 300px;
        background-image: url(resources/green\ shoes\ nobg.png);
        width: 529px;
        height: 300px;
        transform: rotate(-45deg) scaleX(-1.5) scaleY(1.5);
        margin-right: 153px;
        margin-bottom: 100px;
    } */
}